<!-- overlay content begin -->
<div id="extra-wrap" class="text-light">
    <div id="btn-close">
        <span></span>
        <span></span>
    </div>

    <div id="extra-content">
        <img src="images/logo-white.webp" class="w-150px" alt="">

        <div class="spacer-30-line"></div>

        <h5>Our Services</h5>
        <ul class="ul-check">
            <li><a href="service-general-dentistry.html">General Dentistry</a></li>
            <li><a href="service-cosmetic-dentistry.html">Cosmetic Dentistry</a></li>
            <li><a href="service-pediatric-dentistry.html">Pediatric Dentistry</a></li>
            <li><a href="service-restorative-dentistry.html">Restorative Dentistry</a></li>
            <li><a href="service-preventive-dentistry.html">Preventive Dentistry</a></li>
            <li><a href="service-orthodontics.html">Orthodontics</a></li>
        </ul>

        <div class="spacer-30-line"></div>

        <h5>Contact Us</h5>
        <div><i class="icofont-clock-time me-2 op-5"></i>Monday- Saturday : 9am - 6pm, Sunday</div>
        <div><i class="icofont-location-pin me-2 op-5"></i>LIS PLAZA OPPOSITE REDEEMED CHURCH CLOSE TO NYSC SECRETARIAT MAINGO ROAD, JOS PLATEAU STATE</div>
        <div><i class="icofont-envelope me-2 op-5"></i>bimasmiledentalclinic@gmail.com</div>

        <div class="spacer-30-line"></div>

        <h5>About Us</h5>
        <p>At Bimasmile Dental Clinic, we're dedicated to providing high-quality, personalized dental care for patients of all ages. Our skilled team uses the latest technology to ensure comfortable, efficient treatments and beautiful, healthy smiles for life.</p>

        <div class="social-icons">
            <a href="https://web.facebook.com/100066756193535/posts/bima-smile-dental-clinic-intl-have-a-beautiful-smile-with-our-special-eid-promo-/790788649823001/?_rdc=1&_rdr#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://wa.me/2349025589011?text=Hello%20Bima%20Smile%20Dental%20Clinic"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/bimasmiledentalclinic_intl/"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</div>